<ion-view>
	<ion-nav-title></ion-nav-title>
	<ion-content>

		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Busque por livro ou autor">
		  </label>
		</div>
		<a class="button button-block button-balanced" href="#/bibliotecaResultadoPesquisa">Pesquisar</a>
		
	</ion-content>
	<ion-footer-bar class="bar-balanced">
		<div class="button-bar ">
			<a class="button button-clear icon ion-home" href="#/listagemApps"></a>
			<a class="button button-clear icon ion-information" href="#/bibliotecaInformacao"></a>
			<a class="button button-clear icon ion-ios-email"></a>
		</div>
	</ion-footer-bar>

</ion-view>