<ion-view>
	<ion-nav-title>Contato</ion-nav-title>
	<ion-content>
		<h5>Entre em contato conosco, envie sugestões ou dúvidas!</h5>
		<div class="list">
			<label class="item item-input">
	  			<input type="text" placeholder="Nome Completo">
			</label>
			<label class="item item-input">
	    		<input type="text" placeholder="Profissão">
			</label>
			<label class="item item-input">
	    		<input type="text" placeholder="Curso">
			</label>
			<label class="item item-input">
		    	<textarea placeholder="Mensagem"></textarea>
			</label>
		</div>

		<button class="button button-block button-balanced">Enviar mensagem</button>

		
	</ion-content>

	<biblioteca-footer-bar></biblioteca-footer-bar>

</ion-view>